.background{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: turquoise;
    width: 100%;
    height: 80vh;
}
.form2{
    display: flex;
    flex-direction: column;
}
.input1{
    width: 250px;
    height: 40px;
    font-size: 17px;
    border: 0px;
    color: turquoise;
    border-radius: 0px;
}
.btn{
    margin-top: 20px;
    border-radius: 0px;
    width: 250px;
    height: 40px;
    background-color: tomato;
    color: white;
}
.labelcs{
    color: white;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
nav ul{height:70vh; width:400px;}
nav ul{
    overflow:hidden; 
    overflow-y:scroll;
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: turquoise; 
    }