<div class="background">
    <div class="contain-2">
        <div class="form1">
            <form class="form2">
                <label class="labelcs" for="id_fullname">FULLNAME</label>
                <input type="text" class="input1" placeholder="Insert fullname.." id="id_fullname" #fullname >
                <label class="labelcs" for="id_age">AGE</label>
                <input type="text" class="input1" placeholder="Insert age.." id="id_age" #age >
                <label class="labelcs" for="id_url">IMAGE</label>
                <input type="text" class="input1" placeholder="Insert url.." id="id_url" #url >
                <button type="submit" class="btn" (click)="guardar(fullname.value,age.value,url.value)">ADD</button>
            </form>
        </div>
        <div>
            <nav>
                <ul>
                    <li><app-players-pattern *ngFor="let p of players" [player]="p"></app-players-pattern></li>
                </ul>
            </nav>
            
        </div>
    </div>
</div>