<div class="cont">
    <div class="image">
        <img src="{{player.imageURL}}"style="height: 70px;">
    </div>
    <div class="name">
        <label style="font-size: 10px; color: dimgrey;">Fullname</label>
        <p id="id_name" style="font-size: 20px;">{{ player.fullname }}</p>
    </div>
    <div class="age">
        <label style="font-size: 10px; color: dimgrey;">Age</label>
        <p id="id_name" style="font-size: 20px;">{{ player.age }}</p>
    </div>
    
</div>